.container {
  background: linear-gradient(to right, #eee 8%, #e1e1e1 18%, #eee 33%);
  background-size: 200% 50px;
  animation: preloadAnimation 2s infinite;
}

@keyframes preloadAnimation {
  from {
    background-position: -280px 0;
  }

  to {
    background-position: 300px 0;
  }
}
