@import "styles/utils";
@import "styles/markdown";

.container {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  width: 100%;
  padding: 0 15px;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
}

.category {
  color: $gray-scale-07;
}

.title {
  line-height: 40px;
  font-size: 28px;
  font-weight: bold;
  color: $gray-scale-09;

  @include desktop {
    font-size: 32px;
  }
}

.headerSubInfo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.author {
  color: $gray-scale-08;
  font-size: 16px;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.createdAt {
  color: $gray-scale-07;
  letter-spacing: -0.3px;
  font-size: 14px;
}

.languageSelectorWrapper {
  position: absolute;
  bottom: 0;
  right: 0;
}
