@import "styles/utils";

.container {
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
}

.menuList {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
}

.menuListItem a {
  text-decoration: none;
  color: $gray-scale-07;
  font-size: 15px;

  &.active {
    color: $gray-scale-08;
    text-decoration: underline;
    font-weight: 500;
  }

  // TODO: 작업실 페이지 완료되면 삭제
  &.disabled {
    pointer-events: none;
  }
}

.asideList {
  display: flex;
  column-gap: 10px;
}

.asideListItem {
  display: flex;
  align-items: center;
  justify-content: center;
}

.changeThemeButton {
  display: flex;
  width: 20px;
  height: 20px;
  position: relative;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
