/* Responsive */
$laptop-contents-width: 1024px;

/* Colors */
// black transparent scale
$black-transparent-scale-10: rgb(0 0 0 / 10%);
$black-transparent-scale-30: rgb(0 0 0 / 30%);
$black-transparent-scale-50: rgb(0 0 0 / 50%);
$black-transparent-scale-70: rgb(0 0 0 / 70%);

// white transparent scale
$white-transparent-scale-10: rgb(255 255 255 / 10%);
$white-transparent-scale-30: rgb(255 255 255 / 30%);
$white-transparent-scale-50: rgb(255 255 255 / 50%);
$white-transparent-scale-70: rgb(255 255 255 / 70%);

// gray scale
$gray-scale-01: #f6f5fa;
$gray-scale-02: #efeef5;
$gray-scale-03: #e4e3ec;
$gray-scale-04: #dad8e3;
$gray-scale-05: #b5b2c1;
$gray-scale-06: #9a98a5;
$gray-scale-07: #777580;
$gray-scale-08: #48464d;
$gray-scale-09: #2f2e33;
$gray-scale-10: #17171a;

// black white
$black: #141414;
$white: #ffffff;
$red: #eb5757;
