@import "styles/utils";

/* 기본 마크다운 스타일 */
.markdown {
  width: 100%;
  margin: 0 auto;
  color: #313131;
  line-height: 1.6;
}

.markdown {
  /* 헤더 스타일 */
  h1,
  h2,
  h3 {
    font-weight: bold;
  }

  h1 {
    font-size: 32px;
  }

  h2 {
    margin-top: 5px;
    margin-bottom: 15px;
    line-height: 36px;
    font-size: 24px;
  }

  /* 문단 적용된 링크 스타일링 */
  h2 a {
    color: inherit;
    font-weight: bold;
  }

  h3 {
    margin-top: 2px;
    line-height: 36px;
    font-size: 20px;
  }

  /* 단락 스타일 */
  p {
    font-size: 16px;
    line-height: 30px;
    word-break:keep-all;
  }

  strong {
    font-weight: 600;
  }

  /* 목록 스타일 */
  ul,
  ol {
    display: flex;
    flex-direction: column;
    gap: 7px;
    padding-left: 18px;
  }

  li {
    line-height: 28px;
  }

  ul {
    list-style: square;
  }

  ol {
    list-style: decimal;
  }

  figure {
    background-color: #282c34;
    border-radius: 10px;
  }

  /* 코드 스타일 */
  pre {
    margin: 16px 0;
    padding: 16px 20px;
    overflow-x: scroll;
  }

  code {
    font-family: monospace;
    font-size: 13px;
    padding: 3.2px 6.4px;
    border-radius: 3px;
  }

  /* 링크 스타일 */
  a, u {
    color: $gray-scale-10;
    font-weight: bold;
    text-decoration: underline;
    text-underline-position: under;
  }

  /* 인용문 스타일 */
  blockquote {
    margin: 20px 0;
    padding-left: 16px;
    color: $gray-scale-07;
    border-left: 4px solid $gray-scale-03;
  }

  /* 이미지 스타일 */
  img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    padding: 10px 0;

    @include desktop {
      margin: 0;
    }
  }

  /* 링크 스타일 */
  a {
    color: #3ba3c7;
    font-weight: 400;
    text-decoration: underline;
  }

  /* 코드 블록 스타일 */
  [data-rehype-pretty-code-figure] code {
    counter-reset: line;
  }

  [data-rehype-pretty-code-figure] [data-line]::before {
    counter-increment: line;
  }

  [data-line-numbers] > [data-line]::before {
    content: counter(line);

    display: inline-block;
    width: 1rem;
    margin-right: 1rem;
    text-align: right;
    color: gray;
  }

  [data-line-numbers-max-digits="2"] > [data-line]::before {
    width: 1rem;
  }

  [data-line-numbers-max-digits="3"] > [data-line]::before {
    width: 2rem;
  }

  code[data-language="javascript"] span[data-line] {
    background-color: rgba(135, 131, 120, 0.15);
    border-radius: 4px;
    padding: 0.2em 0.4em;

    span {
      color: $red !important;
    }
  }
}
